.project{
    text-align: left;
    position: relative;
    min-height: 100vh;
    /* height: 100vh; */
    background-color: #DCDCDC;
    margin: 0;
    padding: 60px;
}

.project-title{
    font-size: 30px;
}
.project-box {
    /* height: 50vh; */
    background-color: white;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition-delay: 2s;
    
}

.project-content {
    padding: 20px;
}

.project-box-body{
    color:rgba(0, 0, 0);
    display: none;
    /* margin: auto; */
    padding:10px;
    /* position: relative; */
}

.project-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition-duration: 0.2s;
    pointer-events: none;
    user-select: none;
}

.project-box:hover {
    max-height: 200%;
    /* height: 100%; */
    /* height:auto; */
}

.project-box:hover .project-box-body{
    display: block;
    animation-duration: 0.5s;
    animation-name: textFadeIn;
}

.project-box:hover .project-img{
    height: 35vh;
}

@keyframes textFadeIn{
    from {
        margin-top:10%;
        color:rgba(0, 0, 0, 0);
    }

    to{
        margin-top:0%;
        color:rgba(0, 0, 0);
    }
}

.project-icon {
    color: black;
    font-size: 35px;
}

.project-github {
    font-size: 60px;
    /* position: absolute;
    left: 5px; */
    /* bottom: 5px; */
    color: #6e5494;
}

.project-github:hover {
    /* bottom: 5px; */
    color: purple;
}

html {
    scroll-behavior: smooth;
}